header{
    display: flex;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    margin: auto;
    border: 2px solid black;
    font-family: "Caveat", sans-serif;
    font-size: large;
}

#name{
    display: flex;
    justify-content: flex-start;
    border: 2px solid black;
    width: fit-content;
    font-family: "Caveat", sans-serif;
}

#nav{
    display: inline-flex;
    justify-content: flex-end;
    width: fit-content;
}

ul>li{
    list-style-type: none;
    margin-left: 20px;  
}

#prj>h3{
    display: flex;
    justify-content: left;
}

#prj{
    border: 2px solid black ;
    width: fit-content;
    height: fit-content;   
}

#workexp{
    display: block;
    justify-content: center;
    margin: auto;
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
}

#edu{
    width: fit-content;
    height: fit-content;  
    border: 2px solid black;
    margin: auto;
}


footer{
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: "Caveat", sans-serif;
    font-size: large;
}
