    #nav{
        display: flex;
        justify-content: right;
    }
    
    #nav>li{
        margin-left: 10%;
    }
    
    .top{
        display: flex;
        justify-content: space-between;
    }
    
    ul>li{
        list-style: none;
    }
    
    header{
        display: flex;
        justify-content: center; 
        font-family: "Caveat", sans-serif;
        font-size: 2em;
    }
    
    .middle{
        display: flex;
        justify-content: space-between;
        border: 2px solid black;
    }
    
    #workexp, #OpSrc{
        border-left: 2px solid black;
        border-right: 2px solid black;
    }
    
    #edu{
        justify-items: center;
        padding-right: 5%;
    }
    
    #rw{
        flex-direction: column;
    }
    
    #rw>p{
        border: 2px solid black;
        padding: 10px;
        border-radius: 10px;
        width: fit-content;
        line-height: 1em;
    }
    
    .comment{
        color: rgba(128, 128, 128, 0.534);
    }
    
    .exp{
        display: flex;
        flex-direction: column;
    }
    
    #OpSrc{
        border-top: 2px solid black;
    }
    
    footer{
        display: flex;
        justify-content: center;
        position: static;
        bottom: 2%;
        left: 45%;
    }
    
    #prj>ul, #edu>ul{
        list-style-position: inside;
        padding: 0;
    }
    
    #prj, #workexp, #edu, #OpSrc{
        text-align: center;
    }
    
    #prj{
        padding-left: 5%;
    }
    
    a{
        text-decoration-line: none;
        color: black;
    }
    
    #prj>h3, #workexp>h3, #edu>h3{
        font-family: "Caveat", sans-serif;
        font-size: 2em;
    }
    
    .dsc{
        font-family: monospace;
        font-style: normal;
        font-size: 1em;
    }
